.form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.form label:nth-child(5) {
  grid-column: 1 / 3;
}

.form button {
  grid-row: 4;
  grid-column: 2 / 3;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form label:nth-child(5) {
    grid-column: initial;
  }
  .form button {
    grid-row: initial;
    grid-column: initial;
  }
}
